@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Reseta o estilo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: outfit;
}

/* Estilos gerais */
body {
    background: linear-gradient(to right, rgb(255, 129, 169) -80%, rgba(0,2,53,1) 50%, rgb(110, 207, 189) 155%);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

header{
    background-color: #000235;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

.cab{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000235;
    width: 100%;
    height: 102px;

}

.logo-imagem {
    width: 100px;
    height: 50px;
    display: flex;
    cursor: pointer;
    align-items: center;
    
}
.container-logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

#log{
    width: 150px;
    height: 100px;
}

.logo-texto {
    margin-left: 20px;
}

.menu li{
    display: inline-block;
    margin: 0 10px;

}
.menu li a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 15px;
}
.menu li a:hover{
    background-color: #8E5AFF;
    border-radius: 25px;
}

.search-box{
    background: white;
    height: 40px;
    width: 275px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

::-webkit-input-placeholder{
    font-size: 17px;
    font-family: "Outfit", sans-serif;
    color: #000235;
}

.search-text{
    background: none;
    border: none;
    outline: none;
    padding: 3%;
    font-size: 13px;
}

.search-btn{
    width: 30px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loupe-white{
    display: none;
}

.search-box:hover > .search-text {
    width: 320px;
}

.search-box:hover > .search-btn {
    background: #000235;
}

.search-box:hover > .search-btn .loupe-blue {
    display: none;
}

.search-box:hover > .search-btn .loupe-white {
    display: block;
}

.login li{
    display: inline-block;
    margin: 0 10px;
}

.login li a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 15px;
}
.login li a:hover{
    background-color: #8E5AFF;
    border-radius: 25px;
}

/* Area dos cards */

.title{
    font-size: 45px;
    margin-top: 135px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.title2{
    font-size: 15px;
    margin-top: 15px;
    text-align: center;
    color: white;
}

.envio {
    color: white;
    background-color: #00024179;
    width: 600px;
    height: 280px;
    padding: 10px;
    margin-top: 30px;
    margin: auto;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 0.2px solid rgba(0, 0, 0, 0.178);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.178);
    text-align: center;
}

.titulo {
    font-size: 40px;
    font-weight: bold;

}

#mensagem {
    width: 350px;
    height: 120px;
    border-radius: 10px;
    background-color: #ffffff33;
    font-size: 15px;
}

.btn {
    width: 100px;
    height: 30px;
    margin: 10px 10px 10px 10px;
    border-radius: 25px;
    border: none;
    background-color: #8E5AFF;
    font-size: 15px;
    cursor: pointer;

}

#filt {
    color: white;
}

.cat {
    display: flex;
    margin-top: 10px;
}

.select {
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
}

.send {
    width: 160px;
    height: 30px;
    border-radius: 20px;
    margin-top: 10px;
    font-size: 15px;
    background-color: #8E5AFF;
    color: black;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

/* CARDS */ 

.catg {
    font-size: 18px;
    width: 110px;
    height: 30px;
    border-radius: 20px;
    margin: 10px 10px 10px 10px;
    display: flex;
    text-align: center;
    align-items: center;
}

.area-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: #1d4061;
    color: white;
    margin: 10px;
    width: 340px;
    height: 350px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: transform 0.8s ease;  
}
.card:hover {
    transform: scale(1.00);
    box-shadow: 1px 1px 4px black;
}

.logo-user {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 50px;
}

.name {
    font-size: 20px;
}

.area-user {
    display: flex;
    align-items: center;
    font-size: 32px;
    text-align: center;
}

.assunto {
    display: flex;
    text-align: justify;
    font-size: 16px;
    margin-top: 19px;
}

.interact {
    display: flex;
    padding: 10px;
    margin-top: 23px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.coment {
    background-color: #8E5AFF;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    color: black;
}

.curtir {
    background-color: black;
    padding: 10px;
    margin-left: -15px;
    border-radius: 20px;
    font-size: 15px;
    color: white;
}

.footer-container {
    background-color: #000235;
    color: white;
    margin-top: 250px;
    width: 100%;
    padding: 15px 0;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    z-index: 9;
}

.footer {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 0 auto;


}

.footer-itens{
    padding: 10px 30px;
}

a{
    color: #8E5AFF;
    text-decoration:none;
}