@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: 'Outfit';
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: linear-gradient(140deg, rgb(0, 5, 144) -100%, rgba(0,2,53,1) 50%, rgb(110, 207, 189) 200%);
    position: static;
    height: 100%;
    width: 100%;
}

header{
    background-color: #000235;
    color: white;
    width: 100%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-optical-sizing: auto;
    font-style: normal;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.cab{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000235;
    width: 100%;
    height: 102px;

}

.logo-imagem {
    width: 100px;
    height: 50px;
    display: flex;
    cursor: pointer;
    align-items: center;
    
    
}
.container-logo{
    display: flex;
    align-items: center;
    cursor: pointer;

}

#log{
    width: 150px;
    height: 100px;
}

.logo-texto {
    margin-left: 20px;
}


.menu li{
    display: inline-block;
    margin: 0 10px;

}
.menu li a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 15px;
}
.menu li a:hover{
    background-color: #8E5AFF;
    border-radius: 25px;
}

.login li{
    display: inline-block;
    margin: 0 10px;
}

.login li a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 15px;
}
.login li a:hover{
    background-color: #8E5AFF;
    border-radius: 25px;
}

.search-box{
    background: white;
    height: 40px;
    width: 275px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

::-webkit-input-placeholder{
    font-size: 17px;
    font-family: "Outfit", sans-serif;
    color: #000235;
}

.search-text{
    background: none;
    border: none;
    outline: none;
    padding: 3%;
    font-size: 13px;
}

.search-btn{
    width: 30px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loupe-white{
    display: none;
}

.search-box:hover > .search-text {
    width: 320px;
}

.search-box:hover > .search-btn {
    background: #000235;
}

.search-box:hover > .search-btn .loupe-blue {
    display: none;
}

.search-box:hover > .search-btn .loupe-white {
    display: block;
}

#titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 240px 0px 140px 0px;
    font-size: 60px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0px 100px 100px 100px;
    gap: 93px;
}

#noticia_principal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #191B4E;
    border-radius: 15px;
    margin-bottom: 80px;
}

#noticia_principal img {
    border-radius: 15px 0px 0px 15px;
}

#item {
    width: 360px;
    height: 550px;
    background-color: #191B4E;
    border-radius: 15px;
}

img {
    border-radius: 15px 15px 0px 0px;
}

#text_area {
    padding: 20px;
}

.date {
    font-size: 16px;
    padding-bottom: 15px;
}

.titulo-item {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 15px;
}

.texto {
    font-weight: 0;
    color: rgb(193, 193, 193);
    padding-bottom: 15px;
}

button { 
    color: white;
    background-color: #11599E;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    width: 90px;
    height: 27px;
}

button a {
    text-decoration: none;
}

footer {
    text-align: center;
    background-color: #000235;
}