@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
            CABEÇALHO
*/

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, rgb(255, 129, 169) -80%, rgba(0,2,53,1) 50%, rgb(110, 207, 189) 155%);  

}

header{
    background-color: #000235;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    position: fixed;
    top: 0;
    left: 0;
}

#cab{
    display: flex;
    background-color: #000235;
    width: 100%;
    height: 102px;

}

.logo-imagem {
    width: 100px;
    height: 50px;
    display: flex;
    cursor: pointer;
    align-items: center;
}
.container-logo{
    display: flex;
    align-items: center;
    cursor: pointer;
   
}

#log{
    width: 150px;
    height: 100px;
}

.logo-texto {
    margin-left: 20px;
}


.menu li{
    display: inline-block;
    margin: 0 10px;

}
.menu li a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 15px;
}
.menu li a:hover{
    background-color: #8E5AFF;
    border-radius: 25px;
}

.login li{
    display: inline-block;
    margin: 0 10px;
}

.login li a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 15px;
}
.login li a:hover{
    background-color: #8E5AFF;
    border-radius: 25px;
}

#not {
    background-color: #8E5AFF;
    border-radius: 25px;
}
#divBusca{
    background-color:#2F4F4F;
    border:solid 1px;
    border-radius:15px;
    width:300px;
  }
  
#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
}

.search-box{
    position: absolute;
    top: 25%;
    left: 45%;
    transform: translate(-25%, -45%);

    background: white;
    height: 40px;
    width: 380px;
    padding: 10px;
    border-radius: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

::-webkit-input-placeholder{
    font-size: 17px;
    font-family: "Outfit", sans-serif;
    color: #000235;
}

.search-text{
    background: none;
    border: 0;
    outline: 0;

    padding: 0%;

    font-size: 16px;
}

.search-btn{
    width: 35px;
    height: 35px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loupe-white{
    display: none;
}

.search-box:hover > .search-text {
    width: 320px;
}

.search-box:hover > .search-btn {
    background: #000235;
}

.search-box:hover > .search-btn .loupe-blue {
    display: none;
}

.search-box:hover > .search-btn .loupe-white {
    display: block;
}

.footer-container {
    color: white;
    padding-bottom: 4rem;
}

.footer {
    width: 80%;
    height: 40vh;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading {
    display: flex;
}